	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/09/2019 10:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("https://codeforchangenepal.com/static/fonts/Flaticon.eot");
  src: url("https://codeforchangenepal.com/static/fonts/Flaticon.eot?") format("embedded-opentype"),
       url("https://codeforchangenepal.com/static/fonts/Flaticon.woff2") format("woff2"),
       url("https://codeforchangenepal.com/static/fonts/Flaticon.woff") format("woff"),
       url("https://codeforchangenepal.com/static/fonts/Flaticon.ttf") format("truetype"),
       url("https://codeforchangenepal.com/static/fonts/Flaticon.ttf") format("truetype"),
       url("https://codeforchangenepal.com/static/fonts/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("https://codeforchangenepal.com/static/fonts/Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-straight-quotes:before { content: "\f100"; }
.flaticon-electrocardiogram:before { content: "\f101"; }
.flaticon-emergency-call:before { content: "\f102"; }
.flaticon-first-aid-kit:before { content: "\f103"; }
.flaticon-right:before { content: "\f104"; }